{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles i18n %}



{% block content %}

<style>
  
  @font-face {
  font-family: 'bariol_regular-webfont';
  src: url("{% static 'fonts/bariol_regular-webfont.eot?#iefix'%}") format('embedded-opentype'),  url("{% static 'fonts/bariol_regular-webfont.woff'%}") format('woff'), url("{% static 'fonts/bariol_regular-webfont.ttf'%}")  format('truetype'), url("{% static 'fonts/bariol_regular-webfont.svg#bariol_regular-webfont'%}") format('svg');
  font-weight: normal;
  font-style: normal;
}

.jumbotron h1 {
        font-family:'bariol_regular-webfont';
}
</style>

{% placeholder content or %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <br>
      <p>Aucun element n'a ete ajoute. il s'agit du texte par defaut.Aucun element n'a ete ajoute. il s'agit du texte par defaut.Aucun element n'a ete ajoute. il s'agit du texte par defaut.Aucun element n'a ete ajoute. il s'agit du texte par defaut.Aucun element n'a ete ajoute. il s'agit du texte par defaut.Aucun element n'a ete ajoute. il s'agit du texte par defaut.Aucun element n'a ete ajoute. il s'agit du texte par defaut.</p>
    </div>
  </div>
</div>
{% endplaceholder %}

      {% endblock content %}
