
.stacktable { width: 100%; }
.st-head-row { padding-top: 1em; }
.st-head-row.st-head-row-main { font-size: 1.5em; padding-top: 0; }
.st-key { width: 10%; text-align: left; padding-right: 1%; }
.st-val { width: 100%; }


/* RESPONSIVE EXAMPLE */

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media (max-width: 800px) {
    .stacktable.large-only { display: none; }
    .stacktable.small-only { display: table; }
}

.swiper-container img {
    max-width:1200px;
    margin: 0 auto;
    max-height: 400px;
}

#nanoGallery3 {
    max-width: 1200px;
    margin: 0 auto;
}

#nanoGallery3 a {
    visibility: hidden;
}

#header {
    margin: 0 auto;
    max-width:1200px;
}

#not-found {
    margin: 0 auto;
    max-width:900px;
}

#header2 {
    margin: 0 auto;
    max-width:100%;
}


#container-head {
    margin-left:0;
    padding-left:0;
}

/* TEST NAVBAR */
.navbar-inverse { background-color: #E6E6E6}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #363636}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #1969cc}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #1969cc}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #CFCFCF}
.navbar-inverse .navbar-brand { color: #222}
.navbar-inverse .navbar-brand:hover { color: #1969cc}
.navbar-inverse .navbar-nav>li>a { color: #000000}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}


.well {
    color: black;
    margin: 0 auto;
    max-width:1200px;
    font-size:16px;
    margin-bottom:15px;
}

.btn {
    font-family: bariol_regular-webfont;
    background: #1969cc;
    background-image: -webkit-linear-gradient(top, #1969cc, #3a4ecf);
    background-image: -moz-linear-gradient(top, #1969cc, #3a4ecf);
    background-image: -ms-linear-gradient(top, #1969cc, #3a4ecf);
    background-image: -o-linear-gradient(top, #1969cc, #3a4ecf);
    background-image: linear-gradient(to bottom, #1969cc, #3a4ecf);
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 20px;
    /*margin-left:50%;*/
    margin-bottom:15px;
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
}

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 50%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #000;
    font-size:40px;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.bg-4 {
    background-color: #111;
    color: #fff;
    z-index:2;
}
.container-fluid-down {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
}

.dropbtn {
    background-color: #000;
    color: white;
    padding: 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 40px;
    left: 60%;
    position: absolute;
    top: -45px;
width: 100px;}


.mycss
{
    font-weight:normal;color:#000000;background-color:#FFFFFF;letter-spacing:1.2pt;word-spacing:0pt;font-size:16px;text-align:left;line-height:1.2;
}
.mytitle
{
    font-weight:bold;color:#000000;background-color:#FFFFFF;letter-spacing:1.2pt;word-spacing:0pt;font-size:24px;text-align:left;line-height:1.2;
}
.mycss2
{
    font-weight:normal;color:#000000;background-color:#FFFFFF;letter-spacing:1.2pt;word-spacing:0pt;font-size:16px;text-align:left;line-height:1.2;
}

.dropdown-menu > li > a:hover
{
    opacity: .5;
    color: #fff    

}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
{
    box-shadow: none;
}


/*.dropdown {
position: absolute;
display: inline-block;
left: 60%;
top: 45px;
z-index: 2;
}*/

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.testtest{
    font-size: 20;   
}

.dropdown-menu-right a:hover {background-color: #ff0000}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ff0000;
}

.table {
    background-color:#FFFFFF;
}
