
{% extends 'rent_lookup/base.html' %}
{% load cms_tags menu_tags sekizai_tags staticfiles i18n %}

{% block rent_lookup_content %}

<div id="page">
    <div class="header">
  <a id="hamburger">
    <span class="top-bar"></span>
    <span class="middle-bar"></span>
    <span class="bottom-bar"></span>
  </a>

        <a href="#menu"></a>
    </div>
</div>

<div class="container" style="margin-top: 35px;"></div>

<nav id="menu">
    <ul>
  {% show_menu 0 100 100 100 %}
        {% for city in cities %}
        <li><a href="/rent_lookup/{{ city.departement.id  }}/{{ city.id  }}">{{city.city_name}}</a>
            <ul>
                {% for residence in city.residence_set.all %}
                {% with residence.logement_set.all|first as rent_type %}
                <li><a href="/rent_lookup/{{ city.departement.id  }}/{{ city.id  }}/{{ residence.id  }}">{{ residence.residence_name  }} </br> >> {{rent_type.charge_min}} €</a></li>
                {% endwith %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</nav>

<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">{{categories.0.home }}</a></li>
        <li><a href="/rent_lookup">{{categories.0.recherche}}</a></li>
       {% with cities.all|first as city %}
        <li>{{ city.departement.departement_name  }}</li>
        {% endwith %}
 
    </ul>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="nanoGallery3">
                {% for city in cities %}
                    {% for residence in city.residence_set.all %}
                        {% with residence.image_set.all|first as image %}
                            <a href="{{ image.photo.url }}" data-ngthumb="{{ image.photo.url }}" data-ngkind="album" data-ngdest="/rent_lookup/{{ city.departement.id }}/{{ city.id }}/" data-ngid="1000{{ city.id }}" >{{city.city_name}}</a>       
                        {% endwith %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
