{% extends 'rent_lookup/base.html' %}
{% load cms_tags menu_tags sekizai_tags staticfiles i18n %}


{% block rent_lookup_content %}


<div class="container" style="margin-top: 35px;"></div>

<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">{{categories.0.home }}</a></li>
        <li>{{categories.0.recherche}}</li>
            </ul>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="nanoGallery3">
                {% for departement in all_department %}
                {% with departement.city_set.all|first as city %}
                {% with city.residence_set.all|first as residence %}
                {% with residence.image_set.all|first as image %}
                <a href="{{ image.photo.url }}" data-ngdest="/rent_lookup/{{ city.departement.id }}/" data-ngthumb="{{ image.photo.url }}" data-ngkind="album" data-ngid="2000{{ city.id }}" >{{departement.departement_name}}</a> 
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}
