{% extends 'annonces/base.html' %}
{% load cms_tags menu_tags sekizai_tags staticfiles i18n %}

{% block annonces_content %}

<div class="container">
  <div class="row">
    <div class="panel-group" id="accordion">
      {% for annonce in annonces %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#{{annonce.id}}">
              <span class="glyphicon glyphicon-calendar">
              </span> {{ annonce.date  }}   {{ annonce.annonces_name  }}</a>
          </h4>
        </div>
        <div id="{{annonce.id}}" class="panel-collapse collapse">
          <div class="well">{{ annonce.description  }}
            {% if annonce.link_url %}
            <a  href="{{annonce.link_url}}" target=_blank> {{ categories.0.more  }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="container" style="margin: 10px;"></div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container" style="margin-bottom: 150px;"></div>

{% endblock %}
